[submodule "estafet-openshift-boost-springboot"]
	path = estafet-openshift-boost-springboot
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-springboot
[submodule "estafet-openshift-boost-commons-lib"]
	path = estafet-openshift-boost-commons-lib
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-commons-lib
[submodule "estafet-openshift-boost-console-api-feature"]
	path = estafet-openshift-boost-console-api-feature
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-feature
[submodule "estafet-openshift-boost-console-api-trello"]
	path = estafet-openshift-boost-console-api-trello
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-trello
[submodule "estafet-openshift-boost-messages-lib"]
	path = estafet-openshift-boost-messages-lib
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-messages-lib
[submodule "estafet-openshift-boost-console-ui-react"]
	path = estafet-openshift-boost-console-ui-react
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-ui-react
[submodule "estafet-openshift-boost-console-api-gateway"]
	path = estafet-openshift-boost-console-api-gateway
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-gateway
[submodule "estafet-openshift-boost-console-api-jenkins"]
	path = estafet-openshift-boost-console-api-jenkins
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-jenkins
[submodule "estafet-openshift-boost-console-api-environment"]
	path = estafet-openshift-boost-console-api-environment
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-environment
[submodule "estafet-openshift-boost-console-api-project"]
	path = estafet-openshift-boost-console-api-project
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-project
[submodule "estafet-openshift-boost-console-api-user"]
	path = estafet-openshift-boost-console-api-user
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-user
[submodule "estafet-openshift-boost-console-api-jira"]
	path = estafet-openshift-boost-console-api-jira
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-jira
[submodule "estafet-openshift-boost-couchbase-lib"]
	path = estafet-openshift-boost-couchbase-lib
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-couchbase-lib
