[submodule "estafet-openshift-boost-console-ui"]
	path = estafet-openshift-boost-console-ui
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-ui.git
	branch = master
[submodule "estafet-openshift-boost-console-api-test"]
	path = estafet-openshift-boost-console-api-test
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-test.git
	branch = master
[submodule "estafet-openshift-boost-console-api-prod"]
	path = estafet-openshift-boost-console-api-prod
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-prod.git
	branch = master
[submodule "estafet-openshift-boost-console-api-build"]
	path = estafet-openshift-boost-console-api-build
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-build.git
	branch = master
[submodule "estafet-openshift-boost-console-api-app"]
	path = estafet-openshift-boost-console-api-app
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-app.git
	branch = master
[submodule "estafet-openshift-boost-springboot"]
	path = estafet-openshift-boost-springboot
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-springboot
[submodule "estafet-openshift-boost-commons-lib"]
	path = estafet-openshift-boost-commons-lib
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-commons-lib
[submodule "estafet-openshift-boost-console-api-feature"]
	path = estafet-openshift-boost-console-api-feature
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-feature
[submodule "estafet-openshift-boost-console-api-trello"]
	path = estafet-openshift-boost-console-api-trello
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-trello
[submodule "estafet-openshift-boost-messages-lib"]
	path = estafet-openshift-boost-messages-lib
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-messages-lib
[submodule "estafet-openshift-boost-console-ui-react"]
	path = estafet-openshift-boost-console-ui-react
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-ui-react
[submodule "estafet-openshift-boost-console-api-gateway"]
	path = estafet-openshift-boost-console-api-gateway
	url = https://github.com/Estafet-LTD/estafet-openshift-boost-console-api-gateway
